{{$data := .Params.SmartCookieApp}}
<section class="app section">
    <div class="container">
        <div class="row df-cloumn">
            <div class="col-4 image-left">
                <img src="{{$data.image}}" alt="app" class="img-fluid">
            </div>
            <div class="col-8 app-content">
                <h5>{{$data.subTittle}}</h5>
                <h2>{{$data.title}}</h2>
                <p>{{$data.text | markdownify}}</p>

                
                  
                <a class="btn btn-gplay" href="https://play.google.com/store/apps/details?id=app.smartcookie.beta" target="_blank"> 
                    <img src="/img/google-play_btn-later.svg" alt="google-play">
                </a>
                <a class="btn btn-gplay" href="https://play.google.com/store/apps/details?id=app.smartcookie.beta" target="_blank"> 
                    <img src="/img/AppStore_btn-later.svg" alt="app-store">
                </a>
            </div>
        </div>
 
    </div>
</section>