<section class="contact">
    <div class="container">
        <!--<form name="myForm" class="contact__form" onsubmit="return validateForm()" method="POST">
            <h1 class="contact__title">{{.Params.form.heading}}</h1>
            {{range .Params.form.lists }}
                <label class="contact__label">{{.label}}</label>
                {{if .textarea }}
                    <textarea name="comment" class="contact__textarea" placeholder="{{.placeholder}}"></textarea>
                {{else}}
                    <input name="{{.name}}" class="contact__input" type="text" placeholder="{{.placeholder}}">
                {{end}}
            {{end}}




            <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
            <button class="contact__btn common-btn" type="submit">{{.Params.form.submit}}</button>
        </form>-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
        <script>
          hbspt.forms.create({
            region: "na1",
            portalId: "7814167",
            formId: "cbff05b0-c5e3-4865-b7f9-66284b533fdc"
        });
        </script>
    </div>


</section>